<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanyuan.springTestDemo.mapper.myMapper.MyMapper">
    <resultMap id="MenuResultMap" type="com.lanyuan.springTestDemo.entity.Menu">
        <id column="menuid" jdbcType="INTEGER" property="menuid" />
        <result column="url" jdbcType="VARCHAR" property="url" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="parentid" jdbcType="INTEGER" property="parentid" />
        <result column="status" jdbcType="CHAR" property="status" />
        <collection property="child" column="menuid" javaType="java.util.List"
                    ofType="com.lanyuan.springTestDemo.entity.Menu"
                    select="com.lanyuan.springTestDemo.mapper.myMapper.MyMapper.selectChildListByMenuId"/>
    </resultMap>
    <select id="selectMenuListByUserId" parameterType="java.lang.Long" resultMap="MenuResultMap">
        select * from Menu where menuid in(select menuid from role_menu where roleid in (select roleid from user_role where userid=#{userid}))
        and status=1 and parentid=-1
    </select>

    <select id="selectParentMenuList"  resultMap="MenuResultMap">
        select * from Menu where parentid=-1 and status=1
    </select>

    <select id="selectChildListByMenuId" parameterType="java.lang.Long" resultMap="MenuResultMap">
        select * from Menu where parentid=#{parentid} and status=1
    </select>

    <insert id="insertRoleToUserDefault" parameterType="java.lang.Long">
        insert into user_role(userid,roleid) values (#{userid},2)
    </insert>

    <delete id="deleteRoleMenuByRoleid" parameterType="java.lang.Long">
        delete from role_menu where roleid=#{roleid}
    </delete>

    <insert id="insertRoleMenuByRoleidAndMenuid">
        insert into role_menu(roleid,menuid) values
        <foreach collection="menuid" item="mid" separator=",">

                (#{roleid},#{mid})

        </foreach>
    </insert>

    <delete id="deleteUserRoleByUserId" parameterType="java.lang.Long">
        delete from user_role where userid=#{userid}
    </delete>

    <delete id="deleteUserFromUserRole" parameterType="java.lang.Long">
        delete from user_role where userid=#{userid}
    </delete>

    <insert id="insertUserRoleByUseridAndRoleid">
        insert into user_role(userid,roleid) values(#{userid},#{roleid})
    </insert>
</mapper>